

.logoutLink {
  color: #e8519e;
  font-weight: 300;
  cursor: pointer;
}

.logoutText {
  display: block;
//   width: 100%;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
}
